/* Content Style */

#content  {
  padding-left:  12rem;
  padding-right: 12rem;
  
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12%;
  margin-bottom: 6%;
}

.content-wrapper-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 12%;
  margin-bottom: 6%;
}

/* Sections */

#home {
  margin-top: 12rem;
  height: 50vh;
}

#aboutus {
  margin-top: 19rem;
  height: 140vh;
}

#aboutus p {
  font-size: 120%;
}
#aboutus h2 {
  font-size: 150%;
}

/* Things */

.title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 6%;
}

.text {
  font-size: 1.2rem;
  color: white;
}

.text i {
  color: rgb(184, 184, 184);
}

.img {
  width: 25%;
}

/* Button */

.btn {
  margin-top: 6%;

  font-size: 100%;
  color: white;

  background-color: black;
  border: 0.3rem solid white;
  border-radius: 100px;
  padding: 12px 24px;

  transition: all 0.3s ease, box-shadow 0.4s ease;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.08);
  box-shadow: 0 0 20px white;
}

/* Animação ao clicar */
.btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px white;
}

@media screen and (max-width: 1000px) {
  #content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column; /* <-- empilha os elementos */
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem; /* espaço vertical entre texto e imagem */
  }

  .text {
    text-align: center;
  }

  .img {
    display: none;
  }
}