/* Navbar */

header {
    width: 100%;
    position: fixed;
    top: 0;
}

#navbar {
    padding: 1%;
    display: flex;

    align-items: last baseline;
    justify-content: center;
    gap: 4%;

    background-color: rgba(0, 0, 0, 0.8);

}

/* Navbar Itens */

.navbar-item {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255); 
  padding-bottom: 5px; 
  transition: color 0.3s ease; 
}

.navbar-item p {
    font-size: larger;
}

.navbar-item h1 {
    font-size: x-large;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%; 
  height: 2.75px;
  background-color: white; 
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navbar-item.active::after {
  width: 100%; 
}

.navbar-item:hover::after {
  width: 100%; 
}

.navbar-item.active,
.navbar-item:hover {
  color: whitesmoke; 
}


/* Mobile Navbar */

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.mobile-navbar-item {
    display: none;
}

@media screen and (max-width: 1000px) {
    #navbar {
        display: flex;
        justify-content: space-evenly;
    }

    #navbar p, .navbar-item > h1 {
        display: none;
    }

    /* Mobile */

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        color: white;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.979);
        padding: 12px;
        gap: 50px;
        margin-top: 6%;
        border-radius: 20px;
        border: 0.5em solid white;
    }

    .mobile-navbar-item {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: small;
    }

}
