@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jost", sans-serif;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin:  0;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-color: black;
}

html {
  scroll-behavior: smooth;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
